:root {
  --color-brand-1-shade-50: var(--color-shared-indigo-shade-50);
  --color-brand-1-shade-40: var(--color-shared-indigo-shade-40);
  --color-brand-1-shade-30: var(--color-shared-indigo-shade-30);
  --color-brand-1-shade-20: var(--color-shared-indigo-shade-20);
  --color-brand-1-shade-10: var(--color-shared-indigo-shade-10);
  --color-brand-1-primary: var(--color-shared-indigo-primary);
  --color-brand-1-tint-10: var(--color-shared-indigo-tint-10);
  --color-brand-1-tint-20: var(--color-shared-indigo-tint-20);
  --color-brand-1-tint-30: var(--color-shared-indigo-tint-30);
  --color-brand-1-tint-40: var(--color-shared-indigo-tint-40);
  --color-brand-1-tint-50: var(--color-shared-indigo-tint-50);
  --color-brand-1-tint-60: var(--color-shared-indigo-tint-60);
  --color-brand-2-shade-50: #00201bff;
  --color-status-warning-shade-50: var(--color-shared-peach-shade-50);
  --color-status-warning-shade-40: var(--color-shared-peach-shade-40);
  --color-status-warning-shade-30: var(--color-shared-peach-shade-30);
  --color-status-warning-shade-20: var(--color-shared-peach-shade-20);
  --color-status-warning-shade-10: var(--color-shared-peach-shade-10);
  --color-status-warning-primary: var(--color-shared-peach-primary);
  --color-status-warning-tint-10: var(--color-shared-peach-tint-10);
  --color-status-warning-tint-20: var(--color-shared-peach-tint-20);
  --color-status-warning-tint-30: var(--color-shared-peach-tint-30);
  --color-status-warning-tint-40: var(--color-shared-peach-tint-40);
  --color-status-warning-tint-50: var(--color-shared-peach-tint-50);
  --color-status-warning-tint-60: var(--color-shared-peach-tint-60);
  --color-status-danger-shade-50: var(--color-shared-cranberry-shade-50);
  --color-status-danger-shade-40: var(--color-shared-cranberry-shade-40);
  --color-status-danger-shade-30: var(--color-shared-cranberry-shade-30);
  --color-status-danger-shade-20: var(--color-shared-cranberry-shade-20);
  --color-status-danger-shade-10: var(--color-shared-cranberry-shade-10);
  --color-status-danger-primary: var(--color-shared-cranberry-primary);
  --color-status-danger-tint-10: var(--color-shared-cranberry-tint-10);
  --color-status-danger-tint-20: var(--color-shared-cranberry-tint-20);
  --color-status-danger-tint-30: var(--color-shared-cranberry-tint-30);
  --color-status-danger-tint-40: var(--color-shared-cranberry-tint-40);
  --color-status-danger-tint-50: var(--color-shared-cranberry-tint-50);
  --color-status-danger-tint-60: var(--color-shared-cranberry-tint-60);
  --color-brand-2-shade-40: #004c3fff;
  --color-brand-2-shade-30: #008266ff;
  --color-brand-2-shade-20: #00b68fff;
  --color-brand-2-shade-10: #00dab3ff;
  --color-brand-2-primary: #00fcccff;
  --color-brand-2-tint-10: #1afcdbff;
  --color-brand-2-tint-20: #4dfde5ff;
  --color-brand-2-tint-30: #66fdeaff;
  --color-brand-2-tint-40: #b3fef5ff;
  --color-brand-2-tint-50: #ccfefaff;
  --color-brand-2-tint-60: #e6fffdff;
  --color-status-success-shade-50: var(--color-shared-lightGreen-shade-50);
  --color-status-success-shade-40: var(--color-shared-lightGreen-shade-40);
  --color-status-success-shade-30: var(--color-shared-lightGreen-shade-30);
  --color-status-success-shade-20: var(--color-shared-lightGreen-shade-20);
  --color-status-success-shade-10: var(--color-shared-lightGreen-shade-10);
  --color-status-success-primary: var(--color-shared-lightGreen-primary);
  --color-status-success-tint-10: var(--color-shared-lightGreen-tint-10);
  --color-status-success-tint-20: var(--color-shared-lightGreen-tint-20);
  --color-status-success-tint-30: var(--color-shared-lightGreen-tint-30);
  --color-status-success-tint-40: var(--color-shared-lightGreen-tint-40);
  --color-status-success-tint-50: var(--color-shared-lightGreen-tint-50);
  --color-status-success-tint-60: var(--color-shared-lightGreen-tint-60);
  --color-status-informational-shade-50: var(--color-shared-blue-shade-50);
  --color-status-informational-shade-40: var(--color-shared-blue-shade-40);
  --color-status-informational-shade-30: var(--color-shared-blue-shade-30);
  --color-status-informational-shade-20: var(--color-shared-blue-shade-20);
  --color-status-informational-shade-10: var(--color-shared-blue-shade-10);
  --color-status-informational-primary: var(--color-shared-blue-primary);
  --color-status-informational-tint-10: var(--color-shared-blue-tint-10);
  --color-status-informational-tint-20: var(--color-shared-blue-tint-20);
  --color-status-informational-tint-30: var(--color-shared-blue-tint-30);
  --color-status-informational-tint-40: var(--color-shared-blue-tint-40);
  --color-status-informational-tint-50: var(--color-shared-blue-tint-50);
  --color-status-informational-tint-60: var(--color-shared-blue-tint-60);
}
